/*div wrapper*/
.wrapper {
    width: 334px;
    height: 433px;
    background-color: rgba(242, 233, 220, 0.7); /* Adjust the RGB values and alpha as needed */
    border-radius: 20px;
    padding: 5%;
    justify-content: center;
}


/*href (forgot password)*/
a{
    color: #A7A29D;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
}

#logo{
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    height: 70%;
    width: 70%;
    display: block;
}

h1{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/*textfield design*/
input{
    border-radius: 20px;
    border: 1px solid #ad9983;
    width: 100%;
    height: 30px;
    display: flex;
}

/*input divs*/
.email-input, .password-input{
    margin-top: 5%;
    width: 95%;
    margin-left: auto;
    margin-right: auto; 
}

.email-input label, .password-input label{
    display: block;
    margin-bottom: 5px;
    color: #757473;
    font-size: 12px;
}

/*input placeholder*/
input::placeholder{
    color: #e3e3e3;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    font-size: 10px;
}

.forgot-link a{
    margin-top: 5%;
    display: block;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    color: #6c6c6c;
}

button{
    margin-top: 5%;
    width: 95%;
    height: 30px;
    margin-left: auto;
    margin-right: auto; 
    display: block;
    border-radius: 20px;
    background-color: #e8bb4a;
    color: #fdfbf6;
    border: none;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.signup-link{
    margin-top: 5%;
    text-align: center;
}

.signup-link p{
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    color: #6c6c6c;
}

.signup-link a{
    color: #6c6c6c;
}